@page
@model CLDTraining2.Pages.IndexModel

@{
    Layout = "_layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-page="Create">Add New Workout</a>
        &nbsp;&nbsp;&nbsp;
        <a asp-page="Motivation">Motivational Music</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.WorkoutList[0].MuscleGroup)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.WorkoutList[0].ExerciseName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.WorkoutList[0].SetsNum)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.WorkoutList[0].RepsNum)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.WorkoutList[0].Split)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.WorkoutList)
            {

                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.MuscleGroup)</th>
                    <th scope="row">@Html.DisplayFor(modelItem => item.ExerciseName)</th>
                    <td scope="row">@Html.DisplayFor(modelItem => item.SetsNum)</td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.RepsNum)</td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Split)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.MuscleGroup">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.MuscleGroup">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.MuscleGroup">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</body>
</html>
